/***FONTS*****/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
/*font-family: 'Quattrocento', serif;*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Righteous);
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Righteous', cursive; */

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/*font-family: 'Slabo 27px', serif;*/


@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Satisfy|Delius|Gochi+Hand|Homemade+Apple|Short+Stack|Delius+Unicase|Princess+Sofia|Jim+Nightshade|Bonbon);

/*
font-family: 'Gloria Hallelujah', cursive;

font-family: 'Satisfy', cursive;

font-family: 'Delius', cursive;

font-family: 'Gochi Hand', cursive;

font-family: 'Homemade Apple', cursive;

font-family: 'Short Stack', cursive;

font-family: 'Delius Unicase', cursive;

font-family: 'Princess Sofia', cursive;

font-family: 'Jim Nightshade', cursive;

font-family: 'Bonbon', cursive;
*/
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah|Rock+Salt);/**
font-family: 'Architects Daughter', cursive;

font-family: 'Gloria Hallelujah', cursive;

font-family: 'Rock Salt', cursive;
*/
/******************************************************************/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    box-sizing:border-box;
    background-color: black

}
#jumbotron, #jumbotron2 {
    position: relative;
	height: 100%;
    width: 100%;
    background-color: black;
}

video.video-bg {
    background-size: cover;

    /*to fit in div*/
    min-width: 100%;
    width: auto;
    height: 100%;

    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);

    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;


    -webkit-filter: opacity(.7);
    filter: opacity(.7);
}

video {
width: 100%;

}

/*** Circular Divs ***/
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 400px;
    height: 400px;
    background: black;
    border: 3px solid red;
    overflow: hidden;
}

img {
    margin-left: -40px;
    margin-top: -30px;
    width: 500px;
    height: 400px;
}
.container {
    height: 100%;
    width: 100%;
}


/***--------------------------------------------------------------***/
/** MDL ***/
.demo-layout-transparent {
  background: center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
