/*------ FONTS ------*/
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Poiret+One|Satisfy|Delius|Homemade+Apple);

/*

font-family: 'Indie Flower', cursive;

font-family: 'Poiret One', cursive;

font-family: 'Satisfy', cursive;

font-family: 'Delius', cursive;

font-family: 'Homemade Apple', cursive;

*/

/*---- General Styling ---------*/

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

body{
    font-family: 'Indie Flower', cursive;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#home-page {
    height: 100%;
    overflow: hidden;
}

/**----- Aligning Divs ---------**/
/*---- Align horizontal --*/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
     position: absolute;
}

/*---- Align vertical --*/
.center-v {

    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}

/*---- Align center --*/
.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*____________________________________________________________*/
/*------- VIDEO BG --------*/
.videobg {
    position: fixed;
    z-index: -10;

    /** FULL SCREENING **/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;


    filter:brightness(100%);
    -webkit-filter:brightness(100%);
    -moz-filter:brightness(30%);
    -o-filter:brightness(30%);
    -ms-filter:brightness(30%);
}

/
/*-------------------------------------------------------------- */
/*------- BODY ----------*/


/*---- Nav Bar --*/
@font-face {
  font-family: 'Carton Six';
  src: url('cartonsix_nc/Carton_Six.ttf');
}

.nav-top {
    /* Positioning */

    width: 100%;
    height: 70px;
    background-color: black;
    z-index: 1000;
    top: 0;
    position: fixed;
    -webkit-filter: opacity (0.2);
    filter: opacity (0.2);

    /* Font */
    font-family: 'Homemade Apple', cursive;
    font-size: 2.4rem;
}

.nav-top a {
    color: #fff;
    font-size: .9rem;
}

/*--- logo - left ---*/

#nav-logo, .s2 {
    text-align: center;
}

#nav-logo a {
   margin-top: 23px;
}


/*--- menu - center ---*/
#nav-menu {
/*    width: 100%;*/
    height: 100%;
}

.menus {
    background-color: black;
    width: 50%;
    height: 100%;
    margin: 0;
    text-align: center;
}

.menus a {
    height: 50%;
    margin-top: 17px;
    display: inline-block;
    padding-top: 10px;
}

#nav-menu .menus #home { width: 60px; }

#nav-menu .menus #about { width: 120px }

#nav-menu .menus #videos { width: 63px; }

#nav-menu.active {
    background-color: #588c7e;
    color: #000;
    font-weight: bold;
}

/*--------------------------------------------------------*/
/*---------- Content ---------*/
.container {
    height: 100%;
}
#body-content {
    height: 500px;
    position: relative;
}
/*** Circular Divs ***/
.s2 {
    width: 20%;
    height: 100%
}

#icon-row-1 {
    position: relative;
    height: 200px;
    padding-top: 30px;
}

#icon-row-2 {
    position: relative;
    height: 200px;
    padding-top: 60px;
    margin-top: 50px;
}

.circleBase {
    /** Making Circle div responsive **/
    width:50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    /*** Centering in div**/
    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(50%, -50%);

    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    background: transparent;
    border: 3px solid;
    overflow: hidden;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.circleBase img {
    float:left;
    width:100%;
    padding-top: 0;
    margin-top:0;
    line-height:1em;
    text-align:center;
    color:white;
}

.s4 {
    height: 100%;
    position: relative;
}

/***** Animations *****/
/**Animation shorthand is:
    animation:name duration timing-function delay iteration-count   direction fill-mode play-state
    Default value:	none 0 ease 0 1 normal none running
**/


#anger {
    border:red;
    margin-left: 22%;
    margin-top: -30%;

    /*    animation:name duration timing-function delay iteration-count direction fill-mode play-state*/

    -webkit-animation: bounceInUp 5s ease 0s,
        pulse 3s ease 5s infinite ;
    animation:  bounceInUp 5s ease 0s,
        pulse 3s ease 5s infinite ;
}

#joy {
    border:yellow;
    margin-left: 0;
    margin-top: 0;

    -webkit-animation: bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
    animation:  bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
}

#disguist {
    border:green;
    margin-left: 50%;
    margin-top: 0;

    -webkit-animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
    animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
}

#sad {
    border:blue;
    margin-left: 43%;
    margin-top: -30%;
    -webkit-animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
    animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
}

#fear {
    border:purple;
    margin-left: 3%;
    margin-top: -30%;
   -webkit-animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;

    animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;
}


/*____________________________________________________________*/
/*---Footer ---*/
#footer {
    bottom: 0;
    margin-bottom: 0;
    z-index: 1000;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;

    font-family: 'Homemade Apple', cursive;
    font-size: .9rem;
    color: white;
    text-align: center;
}

#footer .s8 {
    height: 100%;
}


/*____________________________________________________________*/
/*---media queries ---*/
@media (max-width: 400px) {
    #body-content {

    }

    #icon-row-1 {
    position: relative;
    height: 200px;
    padding-top: 30px;
}

#icon-row-2 {
    position: relative;
    height: 200px;
    padding-top: 60px;
    margin-top: 50px;
}
}

@media (max-width: 600px) {
    #nav-menu, .menus {
        width: 100%;
    }

    .bubble {
    width: 200px;
    height: 200px;

/*    padding-bottom: 50%;*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    }
    #footer .s8 {
        width: 100%;
    }
}
