html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.content {
  position: relative;
  z-index: 2;
}


/*------- VIDEO BG --------*/
.videobg {
    position: fixed;
    z-index: 1;

    /** CENTERING
    So if we nudge something 50% from the top of a container, then translate it         back up a negative 50%, it will be perfectly centred. That leaves us with this:
    */
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    /** FULL SCREENING **/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;


    filter:brightness(100%);
    -webkit-filter:brightness(100%);
    -moz-filter:brightness(30%);
    -o-filter:brightness(30%);
    -ms-filter:brightness(30%);
}



/*---------- Title and Nav Bar ---------**/
@font-face {
  font-family: 'Carton Six';
  src: url('cartonsix_nc/Carton_Six.ttf');
}

span.inside {
    font-family: 'Carton Six';
    font-size: 1.5em;
}

span.out {
    margin-left: 50px;
    font-family: 'Carton Six';
    font-size: 1.5em;

}

/*---------- BODY ---------**/

.content {
    height: 100%;
    margin-top: 0;
}


#floaters {
    margin-top: 100px;
    padding-top: 10px;
    left:  0;
    bottom: 0;
    width: 100%;

}


/**** Styling Icons *****/
@import "compass/css3";

.flex-container {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    width: 30%;
    height: 200px;
    margin-top: 0;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}


/*** Circular Divs ***/
.container {
    margin-top: 100px;
    height: auto;
}

.row {

}

.s2 {
    width: 20%;
    height: 100%
}


#icon-row-1 {
    position: relative;
    height: 30%;
    padding-top: 30px;
    margin-top: 10%

}

#icon-row-2 {
    position: relative;
    height: 20%;
    margin-top: 10%;
}

.circleBase {
    /** Making Circle div responsive **/
    width:50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    /*** Centering in div**/
    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(50%, -50%);

    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    background: transparent;
    border: 3px solid;
    overflow: hidden;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.circleBase img {
    float:left;
    width:100%;
    padding-top: 0;
    line-height:1em;
    margin-top:0;
    text-align:center;
    color:white;
}

.s4 {
    height: 100%;
    position: relative;
}

/***** Animations *****/
/**Animation shorthand is:
    animation:name duration timing-function delay iteration-count   direction fill-mode play-state
    Default value:	none 0 ease 0 1 normal none running
**/


#anger {
    border:red;
    margin-left: 22%;
    margin-top: -30%;

    /*    animation:name duration timing-function delay iteration-count direction fill-mode play-state*/

    -webkit-animation: bounceInUp 5s ease 0s,
        pulse 3s ease 5s infinite ;
    animation:  bounceInUp 5s ease 0s,
        pulse 3s ease 5s infinite ;
}

#joy {
    border:yellow;
    margin-left: 0;
    margin-top: 0;

    -webkit-animation: bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
    animation:  bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
}

#disguist {
    border:green;
    margin-left: 50%;
    margin-top: 0;

    -webkit-animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
    animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
}

#sad {
    border:blue;
    margin-left: 43%;
    margin-top: -30%;
    -webkit-animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
    animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
}

#fear {
    border:purple;
    margin-left: 3%;
    margin-top: -30%;
   -webkit-animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;

    animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;
}


/* Small screens */
@media all and (max-width: 500px, max-height: 500px) {
  .bg{
/*    height: 100%;*/
    overflow: hidden;
    flex-direction: column;
  }
#anger, #disguist, #joy, #sad, #fear {
    margin: 0;
    }
.videobg{
/*    width: 100%;*/
/*    height: 100%;*/
    filter:brightness(100%);
    -webkit-filter:brightness(0%);
    -moz-filter:brightness(30%);
    -o-filter:brightness(30%);
    -ms-filter:brightness(30%);

}
}
