/***FONTS*****/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
/*font-family: 'Quattrocento', serif;*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Righteous);
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Righteous', cursive; */

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/*font-family: 'Slabo 27px', serif;*/


@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Satisfy|Delius|Gochi+Hand|Homemade+Apple|Short+Stack|Delius+Unicase|Princess+Sofia|Jim+Nightshade|Bonbon);

/*
font-family: 'Gloria Hallelujah', cursive;

font-family: 'Satisfy', cursive;

font-family: 'Delius', cursive;

font-family: 'Gochi Hand', cursive;

font-family: 'Homemade Apple', cursive;

font-family: 'Short Stack', cursive;

font-family: 'Delius Unicase', cursive;

font-family: 'Princess Sofia', cursive;

font-family: 'Jim Nightshade', cursive;

font-family: 'Bonbon', cursive;
*/
/******************************************************************/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    box-sizing:border-box;
}

#wrapper1, #wrapper2 {
    height: 100%;
    width: 100%;
}



/*<!----- Fitting Stuuf into Divs and Aligning Center ----->*/
.parent {
    position: relative;
}


.center {
    /*to fit in div*/
    min-width: 100%;
    width: auto;
    height: 100%;

    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);

    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*<!----- General Font Editing ----->*/

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    letter-spacing: 3px;
    font-weight: 600;
}

/*<!-------------------------------------------------------------------------->
<!----- Nav Bar ----->*/
nav.navbar {
    font-size: 1.4em;
    margin-right: 0;
    font-weight: bold;
}

nav.navbar a {
    font-weight: bold;
    color: #fff;
}

/*<!-------------------------------------------------------------------------->
<!----- Poster ----->*/
#poster {
    height: 80%;

}
